html, body {
  width: 100%;
  height: 100%;
  background-color: #f5dbdb
}

/* Header */
header {
  text-align: center;
  color: green;
  font-size: 24px;
}

/* Footer */ 
footer {
  text-align: center;
  font-family: Arial;
  font-size: 10px;
}

/* Headings 1 through 3*/
h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
}

/* paragraph */
p {
  text-align: center;
}

/* trying to center unordered list */
ul {
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}

/* trying to center ordered list */
ol {
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
}

/* class to center image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* link */
a:link {
  color: #0000FF
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}
